.App {
    background-color: #282c34;
    text-align: center;
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.App-header {
    color: white;
}

.App-link {
    color: #61dafb;
}

.board {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 5px solid #fff;
}

.board-cell {
    height: calc(800px / 7 - 8px);
    width: calc(800px / 7 - 8px);
    border-radius: 50%;
    background: #fff;
    margin: 4px;
}

.board-cell[data-player="playerOne"] {
	background: red;
}

.board-cell[data-player="playerTwo"] {
	background: yellow;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
